@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 300;
  src: url("../fonts/Geometria-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 400;
  src: url("../fonts/Geometria.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 500;
  src: url("../fonts/Geometria-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 700;
  src: url("../fonts/Geometria-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 800;
  src: url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Arial MT", sans-serif;
  font-weight: 400;
  src: url("../fonts/Arial-MT.ttf") format("truetype");
}

@font-face {
  font-family: "Arial MT", sans-serif;
  font-weight: 700;
  src: url("../fonts/Arial-MT-Bold.ttf") format("truetype");
}

body {
  font-family: "Geometria", sans-serif;
  font-weight: 400;
}

.header-background {
  background-image: url("../img/header-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 945px;
  padding: 0;
}

.header-top {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.devider {
  border-bottom: 1px solid #c6d5d4;
}

.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.logotype a {
  margin-right: 17px;
}

.logotype-text p {
  margin: 0;
  color: #006861;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}

.logotype-text p:first-child {
  font-family: "Arial MT", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 7px;
}

.logotype-text p:last-child {
  font-family: "Arial MT", sans-serif;
  font-size: 8px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts address {
  margin: 0;
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts address span {
  margin-right: 17px;
}

.contacts address a {
  color: #0c1702;
  margin-right: 17px;
  text-decoration: none;
}

.contacts address::before {
  content: "";
  background-image: url("../img/header-telephone-icon-inactive.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 6px;
}

.contacts address::after {
  content: "";
  background-image: url("../img/header-telephone-icon-active.svg");
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.header-bottom p {
  width: 700px;
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 135px;
  margin-bottom: 43px;
}

.header-bottom h1 {
  width: 490px;
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 41px;
}

.header-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 54px;
}

.header-bottom ul li {
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.header-bottom ul li::before {
  content: "";
  background-image: url("../img/list-item-icon.svg");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 23px;
}

.header-bottom span {
  color: #006861;
  font-family: "Geometria", sans-serif;
  font-size: 48px;
  font-weight: 800;
}

.our-services {
  padding-top: 132px;
  padding-bottom: 85px;
}

.our-services h2 {
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 144px;
  text-align: center;
}

.service-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 58px;
}

.service-info ul li a {
  width: 222px;
  height: 50px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9ba097;
  font-family: "Geometria", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.service-info ul li .active-tab {
  color: #0c1702;
  border-radius: 4px;
  background-color: #e3f0ef;
}

.service-one-info-wrapper h3 {
  margin-bottom: 54px;
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.service-one-info-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 69px;
}

.service-one-info-wrapper ul li {
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}

.service-one-info-wrapper ul li::before {
  content: "";
  background-image: url("../img/service-one-list-icon.svg");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 24px;
}

.service-one-info-wrapper a {
  color: #006861;
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 210px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccdbda;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.service-one-info-wrapper a span {
  font-family: "Arial MT", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin-left: 5px;
}

.service-two-info-wrapper ul li::before {
  content: "";
  background-image: url("../img/service-two-list-icon.svg");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 24px;
}

.service-three-info-wrapper ul li::before {
  content: "";
  background-image: url("../img/service-three-item-icon.svg");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 24px;
}

.service-order {
  height: 482px;
  -webkit-box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
          box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 50px 63px 67px 63px;
}

.service-order p {
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 47px;
}

.service-order form label:nth-of-type(1) {
  margin-bottom: 32px;
}

.service-order form label:nth-of-type(2) {
  margin-bottom: 72px;
}

.service-order form label input {
  color: #9ba097;
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 288px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #bec8b6;
  background-color: #ffffff;
  padding: 0 20px;
  text-align: center;
}

.service-order form button {
  color: #ffffff;
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 288px;
  height: 50px;
  border-radius: 4px;
  background-color: #71b136;
  border: none;
}

.perfect-outsourcing-background {
  background-color: #deeceb;
}

.perfect-outsourcing {
  padding-top: 122px;
  padding-bottom: 33px;
}

.perfect-outsourcing h2 {
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 101px;
}

.perfect-outsourcing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 116px;
}

.perfect-outsourcing-item img {
  margin-bottom: 21px;
}

.perfect-outsourcing-item h3 {
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.perfect-outsourcing-item p {
  color: #0c1702;
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 230px;
}
/*# sourceMappingURL=styles.css.map */