@font-face {
  font-family: "Geometria";
  font-weight: 400;
  src: url("../fonts/Geometria.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria";
  font-weight: 700;
  src: url("../fonts/Geometria-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria";
  font-weight: 800;
  src: url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
}

body {
  font-family: "Geometria";
  font-weight: 400;
}

.header-background {
  background-image: url("../img/header-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 945px;
}
