@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 300;
  src: url("../fonts/Geometria-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 400;
  src: url("../fonts/Geometria.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 500;
  src: url("../fonts/Geometria-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 700;
  src: url("../fonts/Geometria-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria", sans-serif;
  font-weight: 800;
  src: url("../fonts/Geometria-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Arial MT", sans-serif;
  font-weight: 400;
  src: url("../fonts/Arial-MT.ttf") format("truetype");
}

@font-face {
  font-family: "Arial MT", sans-serif;
  font-weight: 700;
  src: url("../fonts/Arial-MT-Bold.ttf") format("truetype");
}

body {
  font-family: "Geometria", sans-serif;
  font-weight: 400;
}

.header-background {
  background-image: url("../img/header-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 945px;
  padding: 0;
}

.header-top {
  height: 80px;
  display: flex;
  align-items: center;
}

.devider {
  border-bottom: 1px solid #c6d5d4;
}

.logotype {
  display: flex;
  margin-right: auto;

  a {
    margin-right: 17px;
  }
}

.logotype-text {
  p {
    margin: 0;
    color: #006861;
    font-weight: 400;
    // line-height: 36px;
    text-transform: uppercase;
    text-align: right;

    &:first-child {
      font-family: "Arial MT", sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding-bottom: 7px;
    }

    &:last-child {
      font-family: "Arial MT", sans-serif;
      font-size: 8px;
    }
  }
}

.contacts {
  display: flex;
  align-items: center;

  address {
    margin: 0;
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // line-height: 36px;

    span {
      margin-right: 17px;
    }

    a {
      color: #0c1702;
      margin-right: 17px;
      text-decoration: none;
    }

    &::before {
      content: "";
      background-image: url("../img/header-telephone-icon-inactive.svg");
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      display: inline-block;
      order: 1;
      margin-right: 6px;
    }

    &::after {
      content: "";
      background-image: url("../img/header-telephone-icon-active.svg");
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      display: inline-block;
      order: 2;
    }
  }
}

.header-bottom {
  p {
    width: 700px;
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 135px;
    margin-bottom: 43px;
  }

  h1 {
    width: 490px;
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 41px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 54px;

    li {
      color: #0c1702;
      font-family: "Geometria", sans-serif;
      font-size: 18px;
      font-weight: 300;

      // line-height: 48px;
      &::before {
        content: "";
        background-image: url("../img/list-item-icon.svg");
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 23px;
      }
    }
  }

  span {
    color: #006861;
    font-family: "Geometria", sans-serif;
    font-size: 48px;
    font-weight: 800;
    // line-height: 36px;
  }
}

.our-services {
  padding-top: 132px;
  padding-bottom: 85px;

  h2 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    // line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 144px;
    text-align: center;
  }
}

.service-info {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 58px;

    li {
      a {
        width: 222px;
        height: 50px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #9ba097;
        font-family: "Geometria", sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        // line-height: 36px;
      }

      .active-tab {
        color: #0c1702;
        // line-height: 36px;
        border-radius: 4px;
        background-color: #e3f0ef;
      }
    }
  }
}

.service-one-info-wrapper {
  h3 {
    margin-bottom: 54px;
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;

    li {
      color: #0c1702;
      font-family: "Geometria", sans-serif;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;

      // line-height: 36px;
      &::before {
        content: "";
        background-image: url("../img/service-one-list-icon.svg");
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 24px;
      }
    }
  }

  a {
    color: #006861;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 210px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ccdbda;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    // margin-bottom: 85px;

    span {
      font-family: "Arial MT", sans-serif;
      font-weight: 400;
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.service-two-info-wrapper {
  ul {
    li {
      &::before {
        content: "";
        background-image: url("../img/service-two-list-icon.svg");
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 24px;
      }
    }
  }
}

.service-three-info-wrapper {
  ul {
    li {
      &::before {
        content: "";
        background-image: url("../img/service-three-item-icon.svg");
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 24px;
      }
    }
  }
}

.service-order {
  height: 482px;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 50px 63px 67px 63px;

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 47px;
  }

  form {
    label {
      &:nth-of-type(1) {
        margin-bottom: 32px;
      }

      &:nth-of-type(2) {
        margin-bottom: 72px;
      }

      input {
        color: #9ba097;
        font-family: "Geometria", sans-serif;
        font-size: 16px;
        font-weight: 400;
        // line-height: 36px;
        width: 288px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #bec8b6;
        background-color: #ffffff;
        padding: 0 20px;
        text-align: center;
      }
    }

    button {
      color: #ffffff;
      font-family: "Geometria", sans-serif;
      font-size: 16px;
      font-weight: 500;
      width: 288px;
      height: 50px;
      border-radius: 4px;
      background-color: #71b136;
      border: none;
    }
  }
}

.perfect-outsourcing-background {
  background-color: #deeceb;
  padding: 0;
}

.perfect-outsourcing {
  padding-top: 122px;
  padding-bottom: 33px;

  h2 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 101px;
  }

}

.perfect-outsourcing-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 116px;

  img {
    margin-bottom: 21px;
  }

  h3 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 230px;
  }
}

.perfect-bookkeeping-background {
  background-image: url("../img/perfect-bookkeeping-image.png");
  height: 599px;
  padding-top: 89px;
  padding-bottom: 105px;
}

.perfect-bookkeeping {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    width: 510px;
    margin: 0 auto;
    margin-bottom: 81px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      &:nth-of-type(1) {
        margin-bottom: 32px;
      }

      &:nth-of-type(2) {
        margin-bottom: 72px;
      }

      input {
        color: #9ba097;
        font-family: "Geometria", sans-serif;
        font-size: 16px;
        font-weight: 400;
        // line-height: 36px;
        text-align: center;
        width: 288px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #bec8b6;
        background-color: #ffffff;
        border: none;
        padding: 0 20px;
      }
    }

    button {
      color: #ffffff;
      font-family: "Geometria", sans-serif;
      font-size: 16px;
      font-weight: 500;
      width: 288px;
      height: 50px;
      border-radius: 4px;
      background-color: #71b136;
      border: none;
    }
  }
}

.how-it-works-background {
  height: 825px;
  background-color: #006861;
}

.how-it-works-item {
  padding-top: 108px;
  padding-bottom: 131px;

  img {
    display: block;
    margin-left: auto;
  }

  h2 {
    color: #ffffff;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 142px;
  }

  h3 {
    color: #ffffff;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {

    color: #ffffff;
    font-family: "Geometria", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    width: 515px;
  }
}

.how-it-works-image {
  padding-right: 30px;
}

.how-it-works-text {
  align-self: center;
  padding-left: 30px;
}

.what-cost {
  padding-top: 101px;
  padding-bottom: 121px;

  h2 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 39px;
  }

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 114px;
    text-align: center;
  }

  h3 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 128px;
  }
}

.what-cost-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
  padding-top: 52px;
  padding-bottom: 42px;

  &:hover,
  &:focus {
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
    cursor: default;
  }

  &:hover > a {
    background-color: #cf972c;
  }

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 36px;
  }

  img {
    margin-bottom: 35px;
  }

  span {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    margin-bottom: auto;

    li {
      color: #0c1702;
      font-family: "Geometria", sans-serif;
      font-size: 14px;
      font-weight: 400;
      // line-height: 18px;
      display: flex;
      align-items: center;

      &::before {
        content: "-";
        margin-right: 10px;
      }
    }
  }

  a {
    width: 204px;
    height: 50px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #ffffff;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
}

.check-us-background {
  background-image: url("../img/check-us-image.jpg");
  background-repeat: no-repeat;
  height: 600px;
}

.check-us {
  padding-top: 73px;
  padding-bottom: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 450px;
    margin-bottom: 57px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      &:nth-of-type(1) {
        margin-bottom: 32px;
      }

      &:nth-of-type(2) {
        margin-bottom: 72px;
      }

      input {
        color: #9ba097;
        font-family: "Geometria", sans-serif;
        font-size: 16px;
        font-weight: 400;
        // line-height: 36px;
        text-align: center;
        width: 288px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #bec8b6;
        background-color: #ffffff;
        border: none;
        padding: 0 20px;
      }
    }

    button {
      color: #ffffff;
      font-family: "Geometria", sans-serif;
      font-size: 16px;
      font-weight: 500;
      width: 288px;
      height: 50px;
      border-radius: 4px;
      background-color: #71b136;
      border: none;
    }
  }
}

.slick-prev {
  background-image: url("../img/arow-left-icon.svg");
  width: 60px;
  height: 60px;
  z-index: 1;

  &:hover,
  &:focus {
    color: transparent;
    outline: none;
    background: url("../img/arow-left-icon.svg");
  }

  &::before {
    content: "";
  }
}

.slick-next {
  background-image: url("../img/arrow-right-icon.svg");
  width: 60px;
  height: 60px;
  z-index: 1;

  &:hover,
  &:focus {
    color: transparent;
    outline: none;
    background: url("../img/arrow-right-icon.svg");
  }

  &::before {
    content: "";
  }
}

.slick-dots {
  bottom: -172px;

  li {
    margin-right: 18px;

    button {
      width: 30px;
      height: 30px;
      background-color: #004e49;
      border-radius: 50%;

      &::before {
        width: 30px;
        height: 30px;
        top: 6px;
        color: transparent;
      }
    }
  }
}

.slick-dots {
  li.slick-active {
    button {
      &::before {
        opacity: 1;
        color: #ffffff;
        font-size: 20px;
      }
    }
  }
}

.why-choose-us-background-inner {
  background-color: #ccdbda;
  padding: 0;
}

.why-choose-us-background {
  border-radius: 0 300px 0 0;
  background-color: #deeceb;
}

.why-choose-us {
  padding-top: 129px;
  padding-bottom: 0;

  h2 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 144px;
  }
}

.why-choose-us-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 116px;

  img {
    margin-bottom: 21px;
  }

  h3 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 230px;
  }
}

.additional-services {
  padding-top: 106px;
  padding-bottom: 106px;

  h2 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 39px;
  }

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;

    &:nth-of-type(2) {
      font-size: 24px;
      font-weight: 500;
    }
  }
}

.additional-services-row {
  justify-content: center;
}

.additional-services-item {
  height: 354px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 34px;
  margin-top: 135px;
  margin-bottom: 35px;

  &:hover,
  &:focus {
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #ffffff;
  }

  img {
    margin-bottom: 21px;
  }

  h3 {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 236px;
    margin-bottom: 10px;
  }

  p {
    color: #0c1702;
    font-family: "Geometria", sans-serif;
    font-size: 16px;
    text-align: center;
    width: 236px;
  }
}

.footer-background {
  background-color: #006861;
}

.footer {
  padding-top: 63px;
  padding-bottom: 51px;
}

.footer-item {
  span {
    color: #ffffff;
    font-family: "Geometria", sans-serif;
    font-size: 24px;
    font-weight: 700;
    // line-height: 36px;
    display: inline-block;
    margin-bottom: 52px;
  }

  address {
    margin: 0;
    display: flex;
    flex-direction: column;

    p {
      color: #ffffff;
      font-family: "Geometria", sans-serif;
      font-size: 18px;
      font-weight: 500;
      // line-height: 36px;
      margin-bottom: 10px;
    }

    a {
      color: #ffffff;
      font-family: "Geometria", sans-serif;
      font-size: 18px;
      font-weight: 500;
      // line-height: 36px;
      text-decoration: none;
      margin-bottom: 10px;
      display: flex;
      align-items: center;

      &:nth-of-type(1) {
        &::before {
          content: "";
          background-image: url("../img/header-telephone-icon-inactive.svg");
          background-repeat: no-repeat;
          width: 17px;
          height: 17px;
          display: inline-block;
          order: 1;
          margin-left: 6px;
          margin-right: 6px;
        }

        &::after {
          content: "";
          background-image: url("../img/header-telephone-icon-active.svg");
          background-repeat: no-repeat;
          width: 17px;
          height: 17px;
          display: inline-block;
          order: 2;
        }
      }

      &:nth-of-type(2) {
        margin: 0;
      }
    }
  }
}

.footer-copyright {
  a {
    &:first-child {
      color: #ffffff;
      font-family: "Geometria", sans-serif;
      font-size: 16px;
      font-weight: 500;
      width: 288px;
      height: 50px;
      border-radius: 4px;
      background-color: #71b136;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 52px;
      text-decoration: none;
    }

    &:last-child {
      color: #ffffff;
      font-family: "Geometria", sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-decoration: underline;
    }
  }

  p {
    color: #ffffff;
    font-family: "Geometria", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
}
